*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

bin/
build/
.classpath
.gradle/
.settings/
eclipse/.metadata/.mylyn/
eclipse/.metadata/.lock
eclipse/.metadata/.log
eclipse/.metadata/version.ini
eclipse/.metadata/.plugins/org.eclipse.cdt.core/
eclipse/.metadata/.plugins/org.eclipse.cdt.make.core/
eclipse/.metadata/.plugins/org.eclipse.e4.workbench/
eclipse/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/
eclipse/.metadata/.plugins/org.eclipse.jdt.core/
eclipse/.metadata/.plugins/org.eclipse.jdt.launching/
eclipse/.metadata/.plugins/org.eclipse.jdt.ui/
eclipse/.metadata/.plugins/org.eclipse.m2e.logback.configuration/
eclipse/.metadata/.plugins/org.eclipse.myln.bugzilla.core/
eclipse/.metadata/.plugins/org.eclipse.myln.context.core/
eclipse/.metadata/.plugins/org.eclipse.myln.tasks.ui/
eclipse/.metadata/.plugins/org.eclipse.oomph.setup/
eclipse/.metadata/.plugins/org.eclipse.oomph.setup.ui/
eclipse/.metadata/.plugins/org.eclipse.ui.workbench/
eclipse/.metadata/.plugins/org.eclipse.core.ressources/.history/
eclipse/.metadata/.plugins/org.eclipse.core.ressources/.safetable/
eclipse/.metadata/.plugins/org.eclipse.core.ressources/0.snap
eclipse/.metadata/.plugins/org.eclipse.core.ressources/.projects/.org.eclipse.jdt.core.external.folders/
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.location
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.markers.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.syncinfo.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.markers.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.syncinfo.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
eclipse/.metadata/.plugins/org.eclipse.core.resources/0.snap
eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
eclipse/config/
eclipse/logs/
eclipse/saves/
eclipse/.metadata/.plugins/org.eclipse.core.ressources/.history/
eclipse/.recommenders
eclipse/usernamecache.json
eclipse/options.txt
eclipse/crash-reports
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.indexes/e4/b9/22/cc/4/fd/61/history.index
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.markers
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/org.eclipse.jdt.core/state.dat
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/
eclipse/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
